<a href="https://colab.research.google.com/github/Qaiserfarooq285/Labtasks/blob/main/Lab8_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Assuming Titanic dataset is loaded as a DataFrame named `titanic_df`
# Load your Titanic dataset
titanic_df = pd.read_csv('/content/titanic.csv')
print(titanic_df.head())
# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Select the columns to scale
columns_to_scale = ['Age', 'Fare']

# Apply the scaler to the selected columns
titanic_df[columns_to_scale] = scaler.fit_transform(titanic_df[columns_to_scale])

# Display the DataFrame with scaled values
print(titanic_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex       Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  0.271174      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  0.472229      1
2                             Heikkinen, Miss. Laina  female  0.321438      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  0.434531      1
4                           Allen, Mr. William Henry    male  0.434531      0

   Parch            Ticket      Fare Cabin Embarked
0      0         A/5 21171  0.014151   NaN        S
1      0          PC 17599  0.139136   C85        C
2      0  STON/O2. 3101282  0.015469   NaN        S
3      0            113803  0.103644  C123        S
4      0            373450  0.015713   NaN        S

In [8]:
titanic_df['family_size'] = titanic_df['SibSp'] + titanic_df['Parch']+1

In [9]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,family_size
0,1,0,3,"Braund, Mr. Owen Harris",male,0.271174,1,0,A/5 21171,0.014151,NaN,S,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.472229,1,0,PC 17599,0.139136,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,0.321438,0,0,STON/O2. 3101282,0.015469,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.434531,1,0,113803,0.103644,C123,S,2
4,5,0,3,"Allen, Mr. William Henry",male,0.434531,0,0,373450,0.015713,NaN,S,1

In [12]:
titanic_df.drop(['SibSp','Parch'],axis=1,inplace=True)

In [13]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked,family_size
0,1,0,3,"Braund, Mr. Owen Harris",male,0.271174,A/5 21171,0.014151,NaN,S,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.472229,PC 17599,0.139136,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,0.321438,STON/O2. 3101282,0.015469,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.434531,113803,0.103644,C123,S,2
4,5,0,3,"Allen, Mr. William Henry",male,0.434531,373450,0.015713,NaN,S,1