## **Quiz-2**

Perform following tasks on the provided Reviews Dataset.
* Drop words if not alphabets.
* Tokenize the sentence.
* Perform lemitization.
* Vectorize using bigram and trigram techniques.
* Apply Random Forest algorithm with 150 trees.
* Evaluate overall accuracy of the model and class-wise precision .

In [110]:
import pandas as pd
import nltk
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import re

In [111]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [112]:
df = pd.read_csv('reviews_dataset.csv')

In [113]:
df.head()

                                                news      type
0  China had role in Yukos split-up\n \n China le...  business
1  Oil rebounds from weather effect\n \n Oil pric...  business
2  Indonesia 'declines debt freeze'\n \n Indonesi...  business
3  $1m payoff for former Shell boss\n \n Shell is...  business
4  US bank in $515m SEC settlement\n \n Five Bank...  business

**Drop words if not alphabets.**

In [122]:
def clean_text(text):
    text = re.sub(r'[515$\n2200]', '', text)
    return text.lower()
df['news'] = df['news'].apply(clean_text)

In [121]:
df['news']

0       chinahadroleinyukossplit-upchinalentrussia6bn(...
1       oilreboundsfromweathereffectoilpricesrecovered...
2       indonesia'declinesdebtfreeze'indonesianolonger...
3       mpayoffforformershellbossshellistopaym(â£22,00...
4       usbankinmsecsettlementfivebankofamericasubsidi...
                              ...
2220    microsoftlaunchesitsownsearchmicrosofthasunvei...
2221    warningsaboutjunkmaildelugetheamountofspamcirc...
2222    microsoftgetsthebloggingbugsoftwaregiantmicros...
2223    gamerssnapupnewsonypspgamershaveboughtalmostal...
2224    applelaptopis'greatestgadget'theapplepowerbook...
Name: news, Length: 2225, dtype: object

In [105]:
df['news'][5]

''

***Tokenization and Lemmatizer***

In [144]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

nltk.download('punkt')
nltk.download('wordnet')

def tokenize_and_lemmatize(text):
    """Tokenizes and lemmatizes a given text.

    Args:
        text: Hello Test.

    Returns:
    """
    tokens = word_tokenize(text)  # Tokenization
    lemmatizer = WordNetLemmatizer()
    lemmas = [lemmatizer.lemmatize(token) for token in tokens]  # Lemmatization
    return lemmas

text = "Hello We are testing here."
lemmatized_tokens = tokenize_and_lemmatize(text)
print(lemmatized_tokens)

['The', 'quick', 'brown', 'fox', 'are', 'jumping', 'over', 'the', 'lazy', 'dog', '.']

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [143]:
X = df['lemmatized_tokens']
y = df['news']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


vectorizer = CountVectorizer(ngram_range=(2, 3))  # Bigram and Trigram
X_train_vect = vectorizer.fit_transform(X_train)
X_test_vect = vectorizer.transform(X_test)


rf_classifier = RandomForestClassifier(n_estimators=150, random_state=42)
rf_classifier.fit(X_train_vect, y_train)

y_pred = rf_classifier.predict(X_test_vect)


accuracy = accuracy_score(y_test, y_pred)
print(f"Overall Accuracy: {accuracy * 100:.2f}%")

class_precision = precision_score(y_test, y_pred, average=None)
print("Class-wise Precision:", class_precision)

for i, precision in enumerate(class_precision):
    print(f"Class {i} Precision: {precision:.2f}")

KeyError: 'lemmatized_tokens'